[2013-04-12 19:59] kaystrobach opened #1 "Add possibility of rte dynamic css"
needs some thougths -> options define name in ts -> link in page module, needs to respect templates as well -> relativ complex :D

[2014-07-01 10:57] kaystrobach opened #2 "fix path issues"
/typo3temp/Cache/Data/fonts/glyphicons-halflings-regular.woff > should be relocated during

project/typo3conf/ext/dyncss/Classes/Parser/AbstractParser.php:64 -> regex is probably wrong

[2014-07-01 13:38] #2 closed, assigned to nobody

[2014-08-21 14:17] tdeuling opened #4 "AbstractParser compile condition"
In AbstractParser->compileFile müssen die Conditions geprüft werden, da sonst u.U. die Less-Dateien immer kompiliert werden.

[2014-09-22 12:34] tdeuling opened #5 "Dyncss-Cache Issue"

[2014-10-02 07:32] #5 closed, assigned to nobody

[2014-10-13 17:39] kaystrobach opened #6 "add clear cache button for the parsed files ..."

[2014-12-19 03:44] Lobster1956 opened #7 "compatibility with TYPO3 version 7.x ???"
installing in a 7.0.2 Version the EM crashes
it is the missing of namespaces, wit the compatibility6 it seems to work

[2015-02-21 23:20] larp-welt opened #8 "Error with Typo3 7.0"
I know this is a bit out of the use case, because I use DynCSS with Typo3 7.0.

The good news is: **It works!** :-)

The bad news is: I get an error in the backend:

    TYPO3\CMS\Core\Utility\GeneralUtility::callUserFunction
    |No class named KayStrobach\Dyncss\Hooks\|

But it still generates CSS out of my less-sources! There is now visible error in the frontend.

So I still use DynCSS and igno

[2015-02-22 13:05] kaystrobach commented on #8
thank you for reporting!

[2015-02-22 13:05] kaystrobach commented on #8
there seems to be a simple renaming  / refactoring problem ...

[2015-03-03 08:44] #8 closed

[2015-03-03 08:45] kaystrobach commented on #8
@larp-welt please verify ;D

[2015-03-03 08:52] kaystrobach commented on #7
@Lobster1956 should work now! - atleast it does for me.

[2015-03-03 08:52] #7 closed

[2015-03-03 08:57] kaystrobach commented on #4
@tdeuling ist das erledigt?

[2015-03-03 09:17] tdeuling commented on #4
Wir hatten da mal was gemacht. Ich meine das ist erledigt.. ;)

[2015-03-03 09:21] kaystrobach commented on #4
ich mach das erstmal zu ...

[2015-03-03 09:21] #4 closed

[2015-03-03 09:37] kaystrobach commented on #8
in versions 6.2.10 there may be problems with the autoloader ...

[2015-03-03 14:29] larp-welt commented on #8
Works fine now!

Thank you very much!

[2015-03-03 14:32] kaystrobach commented on #8
:+1:

[2015-03-19 14:41] arnekolja opened #9 "Parsing often fails (404 of CSS file)"
We're having trouble with dyncss (_phpsass … don't know whether it's due to dyncss or dyncss_phpsass, sorry if I'm posting at the wrong place).

We have an SCSS file that imports a few other SCSS files. And every now and then parsing fails and the CSS file is referenced, but not generated.

We have no clue how to troubleshoot this, because there is nothing in the logs so far. Today we got it worki

[2015-03-19 14:49] kaystrobach commented on #9
@arnekolja which versions of the following products to you use:

* php
* typo3
* dyncss
* dyncss_sass / scss

what content is stored either in typo3temp/Cache/DynCss or typo3temp/DynCss

[2015-03-19 15:11] arnekolja commented on #9
* PHP 5.4.34 and 5.3.28dotdeb0 (two machines, same problem)
* TYPO3 6.2.9
* dyncss 0.3.0
* dyncss_phpsass 0.3.1

Content typo3temp/DynCss (typo3temp/Cache/DynCss not present):

* styles.scss-4f8c0d72-f8b4f933-69e56bf6.scss
* styles.scss-4f8c0d72-f8b4f933-69e56bf6.css

But referenced is a file that is not there:

* /typo3temp/DynCss/styles.scss-4f8c0d72-f8b4f933-e63c48df.css

[2015-03-19 15:14] kaystrobach commented on #9
ok, you're using a quite old build of dyncss.

I will have to check wether i can add the new debugging features to  the dyncss_phpsass client and make it work with dyncss 0.7.x

any chance to sponsor that?

[2015-03-19 15:18] kaystrobach commented on #9
ps: you can try to include the latest version of phpsass on your own:

copy the content from ```https://github.com/richthegeek/phpsass``` into ```https://github.com/kaystrobach/TYPO3.dyncss_phpsass/tree/master/Resources/Private/Php/PHPSass``` on your harddrive or try the git version of dyncss_phpsass, which should contain these fixes already:

https://github.com/kaystrobach/TYPO3.dyncss_phpsass

[2015-03-19 15:22] arnekolja commented on #9
Thanks, I will try this. :-)

And I'll take a look into sponsoring. How much work will be needed? Maybe I could contribute to the code, too.

[2015-03-19 16:12] kaystrobach commented on #9
Should be doable in 3-4 hours

[2015-03-22 11:08] kaystrobach commented on #9
any news on that?

[2015-03-22 11:08] kaystrobach commented on #9
it also put a some updates to github to allow you to install a newer version of dyncss with dyncss_less

[2015-03-22 19:20] kfinke opened #10 "Errors in Frontend and Backend"
in Install-Tool I get this error after deleting the cache:

"Load extension configuration
The system detected a fatal error during script execution and redirected to this module. Your loaded extensions are now checked for possible problems. After incompatible extensions are unloaded, you can restart the initial action to proceed your request.
Detected Fatal Error
Class 'tx_DynCss_Configuration_BeR

[2015-03-26 21:00] kaystrobach commented on #10
should be fixed now ... see ter release or latest git master

[2015-03-26 21:00] #10 closed

[2015-03-26 21:00] kaystrobach commented on #10
should be fixed now ... see ter release or latest git master

[2015-03-26 21:01] kaystrobach commented on #9
closed due to inactivity, please reopen, if the ones released later today / git master have the same problem

[2015-03-26 21:01] #9 closed

[2015-04-23 10:22] kaystrobach commented on #1
architectural we need to do:

* parse sys_template to get overrides
* parse and modify pageTS similar to fe (less file gets replaced with resulting css)

[2015-04-28 01:11] Lobster1956 opened #13 "[critical] full server path in URL"
hi... i'm using **dyncss 0.7.3** and **dyncss.less 0.7.2**

in my css i have relative paths... the new path is build relativly correctly, but in the new url in the dynamic css there is the full server path inside...
In the less file in: `http://domain.tld/home/fileadmin/template/css/style.less`
i have the relative path: `../images/file.jpg`
I would expect: `http://domain.tld/fileadmin/template/ima

[2015-04-28 05:42] kaystrobach commented on #13
@Lobster1956 currently we have no testcases for fileadmin, as we normally put the less files in extensions.

But i will take a look at it in the next days.

[2015-04-28 05:49] kaystrobach commented on #13
which version of dyncss are you using?

[2015-04-28 05:51] kaystrobach commented on #13
have you tried using something like

[code]

[2015-04-28 08:53] Lobster1956 commented on #13
Am 28.04.2015 um 07:49 schrieb Kay Strobach:

as i wrote: i'm using *dyncss 0.7.3* and *dyncss.less 0.7.2*

--
Signatur: RRS IF *image[FORMAT]* . . . /wir geben Ihrem Image das
richtige Format/
Direktkontakt       . . . *Ralf-René Schröder  +49 (0)3721 / 287 147*
^*DGSV <http://schroeder-ralf-rene.dgusv.de/>* / *DGA
<http://www.deutsche-gutachterauskunft.de/gutachter-ralf-rene-schroeder-1299.html>

[2015-04-28 08:54] kaystrobach commented on #13
saw it after reformatting the issue ...

[2015-04-28 09:10] Lobster1956 commented on #13
Am 28.04.2015 um 07:51 schrieb Kay Strobach:

|yes, absolute paths are OK, only relative paths get the additional
serverpath,
but the relativation (??? sorry for bad englisch) itself is also OK..
(DE: also die relative Anpassung zur CSS Datei ist OK, nur alles vor
fileadmin gehört natürlich nicht in die URL)...
|||

--
Signatur: RRS IF *image[FORMAT]* . . . /wir geben Ihrem Image das
richtige Form

[2015-04-28 12:14] kaystrobach commented on #13
due to the movement of files in the temp folders, we need absolute path in the end ... i will try to find a solution for that was well ...

[2015-06-02 17:22] tdeuling opened #14 "Uncaught TYPO3 Exception while unlink"
Following unlink needs a '@' or a file_exists() before using unlink:
https://github.com/kaystrobach/TYPO3.dyncss/blob/master/Classes/Parser/AbstractParser.php#L215

#1: PHP Warning: unlink(..../typo3temp/DynCss/import.less-8a40314c-05b3c2ef-9d867cf6.less): No such file or directory in ..../typo3conf/ext/dyncss/Classes/Parser/AbstractParser.php line 215 (More information)

[2015-06-03 05:46] kaystrobach commented on #14
mhmm, why? some lines above i check the filemtime, which included an is_file check in the last php versions.

How have you created that kind of error?

[2015-06-03 06:11] #14 closed

[2015-07-08 09:19] #6 closed

[2015-07-08 09:33] kaystrobach commented on #1
just checked out some stuff here.

the function  ```\TYPO3\CMS\Rtehtmlarea\RteHtmlAreaBase::getContentCssFileName``` has no way to replace that file.

So an easy solution would be to provide that file as css e.g. in the pageTS with a theme.
another option would be to directly hook into the pagets rendering and exchange the css ... but this is rather ugly imho.

I would prefer to close this for now

[2015-09-09 05:57] solvage opened #17 "Data url is extended with relative path"
Hi there,
i got dyncss 0.7.4 and dyncss scss 0.7.1. Giving data-url to url() extends them with relative path.

url('data:image/svg+xml;base64,PD94bWwgdmV]...[');
converts to
url('../../../../fileadmin/templates/default/css/data:image/svg+xml;base64,PD94bWwgdmV]...[');

Any solution for it?
Bye
Patrick

[2015-09-09 06:02] kaystrobach commented on #17
Will take a look, should be fixable ;)

[2015-09-09 06:11] kaystrobach commented on #17
@solvage please review that patch, if working i will add it to the master and it will be in the next release

[2015-09-09 06:17] solvage commented on #17
Like a charm! Thank you very much for your lightning fast support.

[2015-09-09 06:21] #17 closed

[2015-09-09 06:22] kaystrobach commented on #13
the latest git master should fix that, would be happy for a review :smile:

[2015-09-09 06:48] kaystrobach commented on #17
Feel free to donate :smile: http://donate.kay-strobach.de/

[2015-09-14 11:37] mkoitka opened #20 "Manual DynCSS cache clearing not triggered"
First of all nice work so far, big thanks for that!

The manual DynCSS cache clearing button does not work for me in a TYPO3 6.2 installation. I did some debugging and the 'clearCachePostProc'-Function of the hook is never called.

Comparing the URLs of the cache clearing buttons, the one from DynCSS is slightly different from the others.

**URL of "System Cache" button**
...typo3/tce_db.php?vC=8f

[2015-09-14 11:39] kaystrobach commented on #20
@mkoitka yes currently we prefer github as this is more agile an open then SVN ;)

I will take a look into that thingy, IMHO we use a core API to generate the URI, what i prefer over coding that statically (with all the hashes, crypto, etc.)

[2015-09-14 11:45] mkoitka commented on #20
Ok, nice to know :)

[2015-09-14 17:47] baschte opened #21 "Adding Minifier into dyncss after parsing the css"
this script should look pretty good.

https://github.com/matthiasmullie/minify

[2015-09-25 10:10] realJustmike opened #22 "No class named KayStrobach\Dyncss\ExtMgm\Statefield"
I got this error when opening the Extension-Setup. Renaming the file "StateField.php" into "Statefield.php" solved the problem.

[2015-09-27 09:24] Lobster1956 commented on #13
sorry for late testing...
now relative paths (one in a line) will be parsed correctly, but multi backgrounds not...
background-image: url("../../images/file1.png"), url("../../images/file2.png");
is parsed to:
background-image: url("../../fileadmin/correct-path/images/file1.png"), url("../..");

and now absolut paths won't work (or i don't know how to set them?)
background-image:url("/fileadmin/co

[2015-09-28 05:37] kaystrobach commented on #13
just to sum up we have:

* url(/<...>)
* url(<...>);
* url(<...>//<...>); external https:// or http://

anything missing?

If not i will try to add more tests for that stuff

[2015-09-28 11:41] Lobster1956 commented on #13
i think this is all... maybe file:/// with three slashes, but for this the 2 slashes test shoud work ???

background: url(img_flwr.gif) right bottom no-repeat, url(paper.gif) left top repeat;
and the url could also url('...') or url("...")
and it could be much more than two urls

[2015-09-28 12:02] kaystrobach commented on #13
how should the file protocoll work with an TYPO3 installation? you can't access local files (neither of the user, nor of the server) ...

[2015-09-28 12:32] kaystrobach commented on #13
are you able to provide a testing css file, which i can add to my postprocessing tests? this way we can clearly say, what works, and what breaks :smile:

[2015-09-29 13:02] realJustmike opened #23 "Filepaths in compiled CSS"
dyncss 0.7.4
dyncss_scss 0.7.1

I have the following path in my style.scss (typo3conf/ext/theme_gugler_bootstrap_ipp/Resources/Private/Dyncss/Library/style.scss):

url(../../../Public/Images/m_menu.svg)

The image is located in:
typo3conf/ext/theme_gugler_bootstrap_ipp/Resources/Public/Images/m_menu.svg

The resulting path in the compiled css file looks like this: ?!

../../../../typo3conf/ext/the

[2015-09-29 14:21] kaystrobach commented on #23
@realJustmike there is also an issue dealing with uris can you please join #13 i will close this one here as duplicate ... thanks a lot!

[2015-09-29 14:21] #23 closed

[2015-09-29 14:29] #22 closed

[2015-09-29 14:30] kaystrobach commented on #20
i can't reproduce that right now :hushed:

[2015-09-29 14:30] realJustmike commented on #13
dyncss 0.7.4
dyncss_scss 0.7.1

I have the following path in my style.scss (typo3conf/ext/theme_gugler_bootstrap_ipp/Resources/Private/Dyncss/Library/style.scss):

url(../../../Public/Images/m_menu.svg)

The image is located in:
typo3conf/ext/theme_gugler_bootstrap_ipp/Resources/Public/Images/m_menu.svg

The resulting path in the compiled css file looks like this: ?!

../../../../typo3conf/ext/the

[2015-09-29 15:24] kaystrobach commented on #13
@realJustmike is it the same with current master? or is it different?

[2015-09-29 15:55] kaystrobach commented on #13
especially the last commit d76f959 should fix quite some stuff :smiley_cat:

[2015-09-29 16:20] kaystrobach commented on #13
the first tests are in place, the more problematic code you give me, the more robust can i make that functionality ...

see https://github.com/kaystrobach/TYPO3.dyncss/blob/master/Tests/Unit/Parser/DummyParserTest.php#L14 as an example

[2015-09-29 23:27] Lobster1956 commented on #13
THANKS... your modifications work (especialy multi parsing in one row for multiple backgrounds)...
another code in CSS is filter or -ms-filter... there is the url NOT in url(<...>) but in:
src='<...>' or src="<...>"
like in: -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../../ContentData/symbole/wissenswertes.png', sizingMethod='scale');

[2015-09-30 05:44] kaystrobach commented on #13
@lobster1956 any chance to sponsor that ms-filter fixing with one hour or so? Invoice will be provided ;)

[2015-09-30 09:42] realJustmike commented on #13
I tried it with current master but the resulting path is still the same (removed typo3temp/ completely before ... ).

../../../../typo3conf/ext/theme_gugler_bootstrap_ipp/Resources/Private/Dyncss/Library/../../../../typo3conf/ext/theme_gugler_bootstrap_ipp/Resources/Private/Dyncss/Library/../../../../typo3conf/ext/theme_gugler_bootstrap_ipp/Resources/Private/Dyncss/Library/../../../Public/Images/m

[2015-09-30 10:06] kaystrobach commented on #13
Can you please add the following information:

* location of your less file
* location of the image
* less / scss code for uri part
* expected path/uri
* is it working right now and just a styling thingy?

Thanks in advice

----- Originale Nachricht -----
Von: realJustmike <notifications@github.com>
Gesendet: 30.09.2015 - 11:42
An: "kaystrobach/TYPO3.dyncss" <TYPO3.dyncss@noreply.github.com>
Betre

[2015-09-30 11:01] realJustmike commented on #13
* my scss-file:
typo3conf/ext/theme_gugler_bootstrap_ipp/Resources/Private/Dyncss/Library/style.scss
* the image:
typo3conf/ext/theme_gugler_bootstrap_ipp/Resources/Public/Images/m_menu.svg
* scss url:
url(../../../Public/Images/m_menu.svg)
* expected path:
a working one ;)
* working now?
no, the image cannot be downloaded by the browser. 404. Because the resulting path in the css file is not work

[2015-09-30 14:04] mkoitka commented on #20
Hmm... weird. I now had a closer look and could also get an exception message.
[code]
It's thrown in mod.php line 46, because the dispatcher can't call/find that module.

I should say, that for me this is no longer an urgent issue as we will be using DynCSS only for TYPO3 7.x.

[2015-09-30 16:46] Lobster1956 commented on #13
@kaystrobach (ich mache das mal auf deutsch)
leider habe ich hierzu keinen Kunden, der es dringend braucht (bis jetzt konnte ich mir in dem Fall  bei-ms-filter mit dem absoluten Pfad helfen, weil er ja nicht geparsed wird...
Aber ich greif mal in die eigene Tasche... ist zwar keine ganze Stunde, aber über 50€ kannst du imageFORMAT eine Rechnung schreiben damit das hier komplett funktioniert (denn

[2015-09-30 16:56] kaystrobach commented on #13
ok, will deliver and then I will send the invoice :smile: thanks a lot!

[2015-10-05 07:28] kaystrobach commented on #13
@realJustmike

how have you included your scss file:

[code]

or with the full path instead?

[2015-10-05 07:47] kaystrobach commented on #13
@Lobster1956 can you please retest the latest master, i added a new test and some code to fix your problem.

[2015-10-19 09:49] realJustmike commented on #13
@kaystrobach
I included it by setting the Theme-Constant "themes.configuration.mainCssFile" to the following value:
EXT:theme_gugler_bootstrap_ipp/Resources/Private/Dyncss/Library/styles-budget.scss

[2015-10-19 09:51] kaystrobach commented on #13
and the images pathes are relative to you scss file? wonder why it works for all the other people ... :cry:

[2015-10-26 16:28] mkoitka commented on #1
For completeness' sake, the RTE method for registering the CSS has changed in TYPO3 7.x.

See [current TYPO3 API] (http://api.typo3.org/typo3cms/master/html/class_t_y_p_o3_1_1_c_m_s_1_1_rtehtmlarea_1_1_form_1_1_element_1_1_rich_text_element.html#a7075af705a2e6954d2524e4d49be0d9f)

Apart from that it's quite an appreciated feature. How do you guys currently handle it? Any workarounds?

I don't know

[2015-11-03 21:46] kaystrobach opened #28 "test"

[2015-11-03 21:48] #28 closed

[2015-11-03 21:48] kaystrobach opened #29 "test2"

[2015-11-03 21:49] #29 closed

[2015-12-16 07:07] hummal commented on #13
Its not working for all other people. Having the same problem as @realJustmike

[2015-12-16 07:09] kaystrobach commented on #13
@hummal have you tried the latest version if so and it is still an issue, please post sample code, that nails down the problem (just the view problematic lines, that you pass to the compiler)

[2015-12-16 07:11] hummal commented on #13
dyncss 0.7.8 TER
dyncss_scss 1.0.2 TER

Sample Code:
.info_open {
        background-image: url(../Icons/icon_arrow_white_right.png);
}

SCSS Result:
.tx_ehfeos .groupListMatches .row.info_open {
        background-image: url(../../../../typo3conf/ext/ehf_eos/Resources/Public/Stylesheets/../../../../typo3conf/ext/ehf_eos/Resources/Public/Stylesheets/../Icons/icon_arrow_white_right.png);
       }

[2015-12-16 07:12] kaystrobach commented on #13
and what do you get as output?

[2015-12-16 07:13] hummal commented on #13
The SCSS Result ist the ouput in the browser

[2015-12-16 07:14] kaystrobach commented on #13
see, main problem is, that the path is not _resolved_ to the shortest possible way to point to a file - right?

[2015-12-16 07:15] hummal commented on #13
Yes, the valid path would be:

`.tx_ehfeos .groupListMatches .row.info_open {
background-image: url(../../../../typo3conf/ext/ehf_eos/Resources/Public/Icons/icon_arrow_white_right.png);
}`

[2015-12-16 07:17] kaystrobach commented on #13
but still the path should be pointing to the correct file, so it's not a critical bug, but more a cosmetical thingy, please be aware that the path is calculated from the location of the scss output (in typo3temp)

[2015-12-16 07:18] hummal commented on #13
Do you see the doubled path strings?
I got two times `../../../../typo3conf/ext/ehf_eos/Resources/Public/Stylesheets/`

[2015-12-16 07:21] kaystrobach commented on #13
is your image in a different package as the scss file?
if not, why do you make the path in a way, that you put the extension in it again?
if it is in the same package, please just make the image path relative to the scss file ...

[2015-12-16 07:23] hummal commented on #13
I guess I found the problem.

Full SCSS:

`&.info_open {
        background-image: url(../Icons/icon_arrow_white_right.png);
        background: $row no-repeat scroll center right;
        cursor: pointer;
        &.even {
          background-image: url(../Icons/icon_arrow_white_right.png);
          background: $rowEven no-repeat scroll center right;

        }
      }
      &.info_close {

[2015-12-16 07:24] hummal commented on #13
As you can see in the last post, there are relative paths

[2015-12-16 07:25] kaystrobach commented on #13
mhmm, ok, maybe the relative dumb replacement algorithm needs some refinement, i will check if i can reproduce that as a testcase and then i will try to deliver a fix

interested in sponsoring?

[2015-12-16 07:27] hummal commented on #13
Thank you for your effort.
Iam doing this extension for free for a friend. So I can't afford any money for sponsoring this. Iam sorry.
Just want to help you finding the problem in the parser. For me I can use absolute paths in the scss also. It is not the good way, but a working one for now.

Thx

[2015-12-16 07:56] kaystrobach commented on #13
anyway i will try to find it, but not today :smile:

sponsoring can also be time for finding a problem or solving it.
If you want https://github.com/kaystrobach/TYPO3.dyncss/blob/master/Classes/Parser/AbstractParser.php#L120 should be the problematic code part

[2015-12-16 08:53] hummal commented on #13
Found it!
`
if(is_array($matches) && count($matches)) {
			foreach($matches as $key => $value) {
				$url = trim($value['url'], '\'"');
				$newPath = $this->resolveUrlInCss($url);
				$string = str_replace($url, $newPath, $string);
			}
		}
`
In your str_replace at line 136 you search for the needle "../Icons/icon_arrow_white_right.png" and replace it with "../../../../typo3conf/ext/ehf_eos/Resou

[2015-12-16 08:54] kaystrobach commented on #13
the replace should replace the whole line … in the matches should be one field with the whole line

[2015-12-16 08:55] hummal commented on #13
But you will have an array of matches with 3 times the same line and it will replace it all the time again. I just debugged it already

[2015-12-16 08:56] hummal commented on #13
The array of matches exists before the foreach and so the matches are still there even if they are already replaced

[2015-12-16 08:56] kaystrobach commented on #13
but if the whole line is replaced instead of just a path fragment there should be no problem, as in the second run it won’t match :D

[2015-12-16 08:57] hummal commented on #13
It will match:

"../Icons/icon_arrow_white_right.png" is still in the already replaced path of the first entry: "../../../../typo3conf/ext/ehf_eos/Resources/Public/Stylesheets/../Icons/icon_arrow_white_right.png"

[2015-12-16 08:59] kaystrobach commented on #13
not what i meant ...

* `../Icons/icon_arrow_white_right.png`
* `        background-image: url(../Icons/icon_arrow_white_right.png);`

the first is the path fragment, the second one is the whole line ... the matches array should be multivalued and one value should be the whole line ... if not the regex may need some changes :smile:

[2015-12-16 09:00] hummal commented on #13
![2015-12-16 09_59_02-](https://cloud.githubusercontent.com/assets/633711/11836547/b20503f2-a3db-11e5-97ca-e4ee8a1795d2.png)

Matches array

[2015-12-16 09:00] kaystrobach commented on #13
dammit ... then the regex does not catch everything ...

[2015-12-16 09:02] hummal commented on #13
But if we use the index 0 instead of "url" and put the "url()" around the $newPath it should work, shouldnt it?

[2015-12-16 09:13] hummal commented on #13
Created a pull request #30. Check it if it fits your needs.

[2016-01-20 15:12] fazzyx commented on #20
I have the same problem. TYPO3 6.2.17, dyncss 0.7.8, dyncss_less 0.7.6.
Error: No module "tce_db" could be found.

[2016-01-20 15:20] kaystrobach commented on #20
mhmm think i will disable that feature for 6.x soon :cry:

[2016-01-20 15:49] fazzyx commented on #20
Cause it is not possible to get it work under 6.x?

[2016-01-21 13:45] stefanschleich commented on #20
What's wrong with this workaround by hensoko? https://github.com/kaystrobach/TYPO3.dyncss/issues/26

[2016-01-21 13:58] kaystrobach commented on #20
Its not working in 7.6 and i dislike to add deprecated Code

Von meinem iPhone gesendet

[2016-04-18 06:57] kaystrobach commented on #21
Hi @baschte just thought about that for a while.
We have the following in the TYPO3 core, so IMHO this is out of scope, as we have the postprocessing for all css files already 😄

[code]

Agree - if so i would close that issue?

[2016-04-18 06:58] kaystrobach commented on #20
should be fixed in master no

[2016-04-18 06:58] #20 closed

[2016-04-18 07:01] kaystrobach commented on #1
i think i will check this again once we have the new RTE 😄  in TYPO3 CMS 8

[2016-04-18 07:34] baschte commented on #21
Sí @kaystrobach 😉

[2016-04-18 09:59] #21 closed

[2016-08-21 00:36] ancpru opened #34 "Relative URL"
Hi,

Somehow I do not get what happens here:

I use dyncss_scss. The original scss file specifies the following relative url:

  background-image: url(../../Public/Images/header_bg.png);

In the generated css, I get the following path:

url(../../../../typo3conf/ext/webe_template/Resources/Private/scss/../../Public/Images/header_bg.png)

That's strange, because in the header the css is linked this

[2016-08-21 04:35] kaystrobach commented on #34
Hi,

Please try the version from 2 days ago, it contains a fix for #30 which should fit your problem.
If not please specify:

* TYPO3 version
* phpversion
* duncss_scss version

Thanks a lot
Kay

[2016-08-21 13:41] ancpru commented on #34
Hi,

Unfortunately this change does not fix the problem.

Could it be, that the problem occurs, if the typo3 installation is not in the root of the web site?

In my case it's a local development enviroment, reachable under:

http://127.0.0.1/~andreas/typo3devel/typo3-7.6/

thus, the generated css is loaded from

http://127.0.0.1/~andreas/typo3devel/typo3-7.6/typo3temp/DynCss/styles-xxxxxxxxxxx.css

[2016-08-21 14:42] kaystrobach commented on #34
If you could create a working PR i will happily test and merge it

Von meinem iPhone gesendet

[2016-08-21 14:46] ancpru commented on #34
Hi,

Ok. I will use the work around (passing the absolute URL to the scss) for this project now, but try to modify the dyncss when I am ready with it. If I find a good solution, I will send you an update (I just hope, that the modification does not fix the problem in my environment, but break other environments)

Thanks for the dyncss-extensios. They make things much easier.

Andreas

[2016-10-26 17:33] sunixzs opened #36 "Typo3 8.x"
Hi Kay,

very nice extension, thanks a lot.
Will there be an adaption for Typo3 Version 8 in near future? Maybe there are only a few adjustments to do?

Nice greetings, Marcel

[2016-10-26 18:19] kaystrobach commented on #36
Hey @sunixzs ,

thank you for your report.

Software needs testing. Open source in common lives from some kind of feedback.

Is there any known problem (except the warning in the extensionmanager) maybe, which causes a real problem for you? If not we may simply add the tests and are fine.

As the architecture and the code was clean AFAIK, there should not be a real problem.
Please enrich your repo

[2016-10-27 08:09] sunixzs commented on #36
Hi Kay,

- PHP 7.0.4
- Typo3 8.4.0
- dyncss 0.7.9
- no other extensions

ignoring the version warning while installing the first PHP error is:
`Class 'TYPO3\CMS\Backend\Sprite\SpriteManager' not found` in file `/ext_tables.php`

I thought a missing icon is ok and removed the lines.

The next PHP error message is:
`#1228262000: KayStrobach\Dyncss\Hooks\Backend\Toolbar\ClearCacheActionsHook must imp

[2016-10-27 08:15] kaystrobach commented on #36
Hello @sunixzs ok, thank you.

Sounds fixable

* spritemanager is gone in v8
* Cache has a new interface
* autoloading has changed as well

So I think i will start a new branch getting rid of some of the old APIs.

Maybe you can take a look into http://insight.helhum.io/post/130876393595/how-to-configure-class-loading-for-extensions-in and add the needed sections to ext_emconf.php ;) I would love

[2016-10-27 10:23] sunixzs commented on #36
Hi Kay,

i'm sorry. I'm not able to define class loading. But I thing this is not necessary.

I've made some following changes and it works for me. Maybe this is a start for dyncss in Typo3 8.x?

File ext_tables.php:
[code]

File ext_localconf.php:
[code]

File Classes/Hooks/Backend/Toolbar/ClearCacheActionsHook.php:
[code]

After that the clearCache-Command is visible (with icon) and works.

The

[2016-11-02 09:40] somedia-mkohler opened #38 "Caching issue in development environment"
Hi Kay

What a awesome extension. Nice work.

Our company implemented your extension in some websites. During implementation and testing we found an issue in the caching mechanism.

It depends on following environment: Typo3 7.6, dyncss 0.7.9, dyncss_scss (1.0.5), Environment mode: Development

Everything is ok, when the whole Typo3 page is cached. But if we use a uncached Extbase plugin or a unca

[2016-11-02 09:44] kaystrobach commented on #38
@somedia-mkohler sounds like a bug - could you please create a PR for that, would be awesome.

If you've never done this before the following tutorial might help / or you use the webinterface for that simple RFC 😄

[2016-11-02 10:39] kaystrobach commented on #38
thank you!

[2016-11-02 10:39] #38 closed

[2016-11-04 13:05] kaystrobach opened #40 "packagist ..."

[2016-11-09 10:31] anjeylink commented on #36
Hi, i have created a pull request for typo3 8 compatibility. can you check it  ? thank you
https://github.com/kaystrobach/TYPO3.dyncss/pull/41

[2016-11-18 19:13] kaystrobach opened #42 "build via commandline (configured by yaml file)"

[2017-03-01 07:22] misterboe opened #44 "Large SCSS Files leads to Error 500 in FE"
When i try to compile very large SCSS Files i get a error 500 in the Frontend. The problem is that i cant debug it. @kaystrobach told me the install tool settings to get details of the problem, but i only get this from the apache log

[code]

I also recognized a php task on my lokal machine that cause 100% load when the FE is called the first time. This task is still running when i get the error 5

[2017-03-25 19:31] #36 closed

[2017-04-05 10:24] tdeuling opened #47 "Another problem with inline SVGs"
Fix for this problem in branch issue-47
Please merge it.

[2017-04-06 19:02] tdeuling commented on #47
Just fixed another issue related to TYPO3 8.7. I've had pushed that into the same branch, so that you saves some time while merging and releasing ;)

[2017-04-18 13:46] #47 closed

[2017-05-01 12:42] Freshmeat-ch opened #50 "Context-sensitive file cache not working in TYPO3 8 LTS"
Under TYPO3 8 LTS and Development-context the parser should generate a new file if include-files where changed. This worked in TYPO3 7 LTS (maybe a unknown effect because i think the commit [https://github.com/kaystrobach/TYPO3.dyncss/pull/39](url) breaks this behaviour on LTS 7 too).

Currently I added an additional Development-Mode check in Classes/Parser/AbstractParser.php:289 to disable cachin

[2017-05-01 12:47] kaystrobach commented on #50
Please open a PR then i will review and check it this week.

Thank you

Von meinem iPhone gesendet

[2017-10-05 13:58] millemedia opened #51 "Possibility of creating namespaces"
We are currently working on an aggregator web site. The problem is, that we will have som remote css that can override our selector. Best would be if we can set a namespace to avoid conflicts,

Is there a possibility to realize that?

[2017-10-05 14:38] kaystrobach commented on #51
Should be possible with sass, just wrap the remote code in a sass file or strip remote css completely, what i would suggest for security reasons anyway

Recommend reading:

* http://blog.innerht.ml/cascading-style-scripting/

Feel free to reopen, if you still think this is scope for this project, until now i do think it is not.

[2017-10-05 14:38] #51 closed

[2017-10-05 14:39] kaystrobach commented on #51
Btw. maybe also worth a look:

* https://coderwall.com/p/xdmceg/how-to-create-scoped-and-namespaced-css-using-sass

[2017-10-05 15:37] millemedia commented on #51
Well,  we use extenasion t3sbootstrap V4 for this project. If I create a namespace within sass I will get a TYPO3 exeption from dyn_scss stating, that varaibles are not defined. Is there a possibility to implement the namespace with typoscript?

[2018-03-28 13:33] pniederlag opened #54 "PHP Warning: Use of undefined constant TYPO3_cliMode"
`- assumed 'TYPO3_cliMode' (this will throw an Error in a future version of PHP) in /var/www/html/web/typo3conf/ext/dyncss/Classes/Service/DyncssService.php line 47`

should probably we changed to

`!defined('TYPO3_cliMode')`

[2018-03-28 13:43] pniederlag commented on #54
PR #53 is already in the pipe to address this matter, awesome

[2018-05-24 10:30] pniederlag opened #56 "ability to add @import statements for resources(mixins) from other extensions"
Use Case:

theme_bootstrap4 ships a fully fledged and well configurable scss/css stack for bootstrap.

In our own extension we add some additional scss/css. Now we would like to make use of the bootstrap mixins inside our scss.

    @import "../../../../theme_bootstrap4/Resources/Public/Contrib/Bootstrap/scss/mixins";

This just does not work currently.

[2018-05-24 14:04] pniederlag opened #57 "Implement support for source map"
scssphp has build in support for source maps. Would be cool if the extension could make use of that feature.

[2018-05-24 14:38] pniederlag commented on #57
well, this should definitly go to dyncss_scss ;)

[2018-05-24 14:38] #57 closed

[2018-06-13 07:43] Inovanet opened #59 "Idea: "Clear Page Cache" at "Clear DynCSS cache""
Its Only one Line in the script.

KayStrobach\Dyncss\Hooks\T3libTcemainHook @ line 36
`$pObj->clear_cacheCmd("pages");`

[2018-06-13 07:45] kaystrobach commented on #59
thank you for you idea. Please provide a pull request. Maybe consider making this optional.

[2018-08-30 09:51] CDRO opened #60 "Warnings because of TYPO3_cliMode check"
This line throws some warnings in PHP 7.2, would it be possible to extend the code to something like below?

https://github.com/kaystrobach/TYPO3.dyncss/blob/762659e6275ae6190fe450e433c39aa9da4e1bfd/Classes/Service/DyncssService.php#L47

[code]

[2018-08-30 09:52] kaystrobach commented on #60
sure, feel free to open a pull request, i will happily review it.

[2018-09-05 07:57] CDRO commented on #54
I've checked this one and pulled the patch for my projects, it works well for now.

[2018-09-11 07:12] pniederlag commented on #60
This PR https://github.com/kaystrobach/TYPO3.dyncss/pull/55 is addressing the issue and working fine for me

[2018-09-24 21:26] Finulin opened #62 "Error with php 7.2"
If i try to install dyncss i became the following error-message in the backend:

PHP Warning: Use of undefined constant TYPO3_cliMode - assumed 'TYPO3_cliMode' (this will throw an Error in a future version of PHP) in /var/www/vhosts/dev05.master-ble-prered.ble.de/htdocs/typo3conf/ext/dyncss/Classes/Service/DyncssService.php line 47

i use php 7.2

[2018-09-25 03:58] kaystrobach commented on #62
There are already 2 PRs fixing that, so i clise it for now, please follow up in one of them.

Thank you for reporting

[2018-10-09 07:00] pniederlag opened #64 "Exception on $activePreset = null in ApplicationContext"
If i switch my installation to TYPO3_CONTEXT=Testing I run into an Exception caused by isDevelopPresetActive() in KayStrobach\Dyncss\Utilities\ApplicationContext

There is no $activePreset available which is why $activePreset->getName() will trigger an exception.
https://github.com/kaystrobach/TYPO3.dyncss/blob/6f947abc14d4b4904a02875d6caa8a68d6a2b628/Classes/Utilities/ApplicationContext.php#L76

[2018-10-14 20:39] hoezaykut opened #67 "scss compressed file as http/2 push preload-link"
Hello,

i am not sure, if this extension is responsible to compressed files in hook-depedence of the t3sbootstrap-extension (i think so)

<link rel="stylesheet" type="text/css" href="/typo3temp/DynCss/bootstrap.scss-123456789.css?1539284572" media="all">

I want to change to this (example): <link **rel="preload"** href="/typo3temp/DynCss/bootstrap.scss-123456789.css?1539284572" **as="style"**>

wh

[2018-10-15 07:33] kaystrobach commented on #67
Thank you for opening a ticket.

* what's your frontend output?
* what's your expected output?
* Is the file linked?

[2018-10-17 08:43] kaystrobach commented on #67
no response, feel free to reopen with more information.

[2018-10-17 08:43] #67 closed

[2019-02-06 09:28] bihor commented on #54
Well, but this problem is not only in TYPO3 8 relevant. With TYPO3 7.6.32 I get this warning with the current extension-version:
#1: PHP Warning: Use of undefined constant TYPO3_cliMode - assumed 'TYPO3_cliMode' (this will throw an Error in a future version of PHP) in /extern/agency/www/files/stark-fuer-ausbildung.de/typo3conf/ext/dyncss/Classes/Service/DyncssService.php line 62

[2019-02-06 09:30] kaystrobach commented on #54
merged in master

[2019-02-06 09:32] kaystrobach commented on #54
https://github.com/kaystrobach/TYPO3.dyncss/releases/tag/0.8.5

[2019-02-06 09:32] #54 closed

[2019-02-06 09:39] #64 closed

[2019-02-06 09:49] kaystrobach commented on #44
2 options:

* split the files
* or allow your php processes to run longer.

[2019-02-06 09:49] #44 closed

[2019-02-06 09:49] kaystrobach commented on #62
please check latest release and reopen, if still valid

[2019-02-06 09:49] #62 closed

[2019-02-06 09:49] kaystrobach commented on #60
should be solved in master

[2019-02-06 09:49] #60 closed

[2019-02-06 09:51] #59 closed

[2019-02-06 09:52] #40 closed

[2019-02-06 09:53] kaystrobach commented on #13
as https://github.com/kaystrobach/TYPO3.dyncss/pull/30 is merged - i close that one here

[2019-02-06 09:53] #13 closed

[2019-02-06 09:53] #42 closed

[2019-02-06 09:53] kaystrobach commented on #34
closing for now

[2019-02-06 09:53] #34 closed

[2019-02-06 09:54] kaystrobach commented on #50
i think this was fixed with the latest version from 6 month ago, if not, please reopen.

[2019-02-14 11:18] onlinefabrik-com opened #69 "Please update TER"
I just wanted to know if there are any plans on updating the TER version of this extension any time soon.

[2019-02-14 11:23] kaystrobach commented on #69
We are mainly working with composer, so it might be the case, that we miss to update the ext.

Will check if i find the time in the next days.

Thank you for reminding me.

[2019-02-14 12:05] kaystrobach commented on #69
Btw, with which TYPO3 version do you use dyncss?

[2019-02-14 14:13] onlinefabrik-com commented on #69
9.5.4+

[2019-02-15 08:43] msollmann commented on #69
A TER update would be great!

[2019-02-15 10:00] dbruening commented on #50
Don't works in TYPO3 8.7.22 with the current files form github.

[2019-02-15 10:01] tdeuling commented on #50
I can confirm that this issue still remains.

[2019-02-15 10:04] kaystrobach commented on #50
We added some more agressive caching to dyncss before the 8.x release, maybe it fails because of this.

How do you setup your context?

[2019-02-15 10:08] tdeuling commented on #69
We need that TER-Release too. It would be perfect when this one could include a fix for this issue too.
We would like to sponsor parts of this work, so that we get this done soon. Maybe the others are also willing to sponsor a bit, so that Kai can move back other paid work?!
It would be great when you write me a bill about that sponsoring - i will contact you in Slack.

[2019-02-15 10:13] tdeuling commented on #50
We have tried this with activated Dev-Mode in installtool and additionally `SetEnv TYPO3_CONTEXT Development` in .htaccess file.
The backend info section displays "SetEnv TYPO3_CONTEXT Development".

[2019-03-12 15:00] bihor commented on #54
Yes, it is fixed for TYPO3 8, but still not for TYPO3 7...
I cant see any difference in version 0.8.5.

[2019-04-08 08:51] jonnsn commented on #69
Any news on a new Release in TER and Packagist?
Is it only a lack of time or does something else needs to be finished first where others might help out?

[2019-05-22 08:49] tdeuling opened #70 "Different parser can't be determined in extension configuration view."
In TYPO3 9.5 the file handles can't be determined, because the extension configuration view now runs in install tool context.
This needs to be fixed.

[2019-09-24 11:23] tbal commented on #69
Any news on that?

[2019-09-24 11:25] kaystrobach commented on #69
packagist should have 0.9.0 now.

indeed i wanted to change the infrastructure to meet more modern requirements.
I also wanted to reautomate the broken ter upload.

[2019-10-17 09:49] Schweriner commented on #69
Also from here: TER Update is highly appreciated

[2020-04-26 10:40] kfinke opened #73 "dyncss breaks extension configuration in TYPO3 9.5"
Since an update from TYPO3 7.6 to 9.5 the dyncss-extension breaks the extension configuration, so configuration of any extension can be done only by deactivating dyncss.

I get an ajax-error, here is the first part of the error shown:

Error
Call to a member function setAndSaveSessionData() on null

in /html/typo3_update/typo3_src-9.5.15/typo3/sysext/core/Classes/Messaging/FlashMessageQueue.php li

[2020-04-26 14:48] tdeuling commented on #73
Which version of dyncss do you use?
Did you tried the Github-Master?

[2020-04-27 07:41] kfinke commented on #73
Yes, I us the github-master version 0.8.3

[2020-04-27 07:46] kaystrobach commented on #73
the extension config is not critical for the usage, but we will take a look into it. may take a couple of days.

[2020-04-28 07:36] kfinke commented on #73
Sorry, I had the same version number (0.8.3), but obviously another version of dyncss.
I downloaded the version from github directly now - the error is gone, I can open the extension configuration now.

[2020-04-28 07:36] #73 closed

[2020-04-28 07:52] kaystrobach commented on #73
thank you for notifying